.navbar {
  background-color: #222;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar li a:hover {
  color: #1E90FF;
}
