.navbar {
    background: #e2820c;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar li {
    margin: 0 10px;
  }
  .navbar a {
    text-decoration: none;
    color: rgb(19, 19, 19);
  }
  